img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: left;
}

hr {
margin-left: 0;
    border: 2px solid rgb(5, 5, 87);
    width: 1400px;
}

#container {
display: block;
width: 350px;
height: 170px;
background: rgb(239, 239, 241);
}

body {
font-family: 'roboto', 'sans-serif';
font-size: 20px;
font-weight: 300;
line-height: 1.5;
color: #080808;
min-height: 100vh;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
}

* {
    box-sizing: border-box;
  }

.header {
border: 1px solid #c8c8ec;
background-color: #c8c8ec; height: 100 px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.section-item a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #060311;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section{
        width: 100%;
    }
}

.section-title {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.link {
    text-decoration: none;
    transition: color 0.5s;
    color: #001aff;
}

.link:hover {
    color: #dbddf0;
}